<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>


<body>

<div th:replace="fragments :: menu"/>

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Wishlist</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Wishlist Start -->
<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th style="color: #FF6F61">User</th>
                                <th style="color: #FF6F61">Email</th>
                                <th style="color: #FF6F61">Role</th>
                                <th style="color: #FF6F61">Address</th>
                                <th style="color: #FF6F61">Phone</th>
                                <th style="color: #FF6F61">Status</th>
                                <th style="color: #FF6F61">Remove</th>
                                <th style="color: #FF6F61">Update</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            <div th:each="s: ${users}" >
                                <tr>
                                    <td>
                                        <div class="img">
                                            <p th:text="${s.name}"></p>
                                        </div>
                                    </td>
                                    <td th:text="${s.email}"></td>
                                    <div th:if="${s.role} == true">
                                        <td style="color: #FF6F61">Admin</td>
                                    </div>
                                    <div th:if="${s.role} == false">
                                        <td style="color: #FF6F61">Guest</td>
                                    </div>
                                    <td th:text="${s.address}"></td>
                                    <td th:text="${s.phone}"></td>
                                    <div th:if="${s.status} == true">
                                        <td style="color: #FF6F61">Active</td>
                                    </div>
                                    <div th:if="${s.status} == false">
                                        <td style="color: #FF6F61">Inactive</td>
                                    </div>

                                    <td><a class="btn btn-light" th:href="@{'/admin/users/delete/' + ${s.id}}" role="button">X</a></td>
                                    <td><a class="btn btn-danger" th:href="@{'/admin/users/update/' + ${s.id}}" role="button">Update</a></td>
                                </tr>
                            </div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wishlist End -->

<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: JS"/>




</body>
</html>
