<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
<body>

<div th:replace="fragments :: menu"/>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item active">Product Manager</li>
        </ul>
    </div>
</div>

<div class="wishlist-page">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="product-view">
                <div class="container-fluid">
                    <div th:if="${success}" class="alert alert-danger" role="alert">
                        <h3 th:text="${success}"> </h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="product-view-top">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="product-search">
                                                    <form th:action="@{/admin/product/page/1}">
                                                        <input type="text" name="name">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="product-short">

                                                    <div class="dropdown">
                                                        <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                                        <div class="dropdown-menu dropdown-menu-right" name="name" >
                                                            <a th:each="c: ${category}" th:href="@{/admin/product/page/1(name=${c.getName()})}"  th:text="${c.getName()}" class="dropdown-item">jacket</a>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="product-short">
                                                    <td><a class="btn btn-danger" th:href="@{/admin/product/add}" role="button">Add Product</a></td>
                                                </div>
                                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th style="color: #FF6F61">Product</th>
                                <th style="color: #FF6F61">Price</th>
                                <th style="color: #FF6F61">Category</th>
                                <th style="color: #FF6F61">Quantity</th>
                                <th style="color: #FF6F61">Status</th>
                                <th style="color: #FF6F61">Remove</th>
                                <th style="color: #FF6F61">Update</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle">
                            <div th:each="p: ${product.pageList}" >
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a th:href="@{'/product/' + ${p.id}}"><img th:src="@{'/img/'+${p.images}}" alt="Image"></a>
                                            <p th:text="${p.name}"></p>
                                        </div>
                                    </td>
                                    <td th:text="${p.price}"></td>
                                    <td th:text="${p.categoryByCategory.getName()}"></td>


                                    <td >
                                        <div class="qty">
                                            <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                            <input type="text"  th:value="${p.quantity}">
                                            <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </td>

                                    <div th:if="${p.status} == true">
                                        <td style="color: #FF6F61">Stocking</td>
                                    </div>
                                    <div th:if="${p.status} == false">
                                        <td style="color: #FF6F61">Out Of Stock</td>
                                    </div>
                                    <td><a class="btn btn-light" th:href="@{'/admin/product/delete/' + ${p.id}}" role="button">X</a></td>
                                    <td><a class="btn btn-danger" th:href="@{'/admin/product/update/' + ${p.id}}" role="button">Update</a></td>
                                </tr>
                            </div>

                            </tbody>

                        </table>
            </div>

        </div>
    </div>
    <br/>
                            <!-- Pagination Start -->
                            <div class="col-md-12" >
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li th:class="${currentIndex == 1}?'page-item disabled':'page-item active'">
                                            <a class="page-link" th:href="@{/products/}" >First</a>
                                        </li>
                                        <li th:class="${currentIndex == 1}?'page-item disabled':'page-item active'">
                                            <a th:href="@{|${baseUrl}${currentIndex - 1}|}">Previous</a>
                                        </li>
                                        <li th:each="item: ${#numbers.sequence(beginIndex,endIndex)}"
                                            th:class="${item == currentIndex ?'page-item disabled':'page-item'}">
                                            <a class="page-link" th:href="@{|${baseUrl}${item}|}">
                                                <span th:text="${item}"></span>
                                            </a>
                                        </li>

                                        <li  th:class="${currentIndex == totalPageCount} ? 'page-item disabled' : 'page-item active'">
                                            <a class="page-link" th:href="@{|${baseUrl}${currentIndex + 1}|}">Next</a>
                                        </li>
                                        <li th:class="${currentIndex == totalPageCount} ? 'page-item disabled' : 'page-item active'">
                                            <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}" >Last</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wishlist End -->

<div th:replace="fragments :: footer"/>

<div th:replace="fragments :: JS"/>




</body>
</html>
