<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>


<body>

<div th:replace="fragments :: menu"/>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/product/list}">Product Manager</a></li>
            <li class="breadcrumb-item active">Update</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Update Product</h2>
                        <form th:action="@{/admin/product/update}" method="post" th:object="${product}" enctype="multipart/form-data">
                            <div class="row">
                                        <input th:field="*{id}" class="form-control" type="number" style="display: none">
                                <div class="col-md-12">
                                    <label>Product Name</label>
                                    <input name="name" th:field="*{name}" class="form-control" type="text" placeholder="Tên sản phẩm">
                                </div>
                                <div class="col-md-6">
                                    <label>Price</label>
                                    <input name="price" th:field="*{price}" class="form-control" type="number" placeholder="Giá">
                                </div>
                                <div class="col-md-6">
                                    <label>Quantity</label>
                                    <input name="quantity" th:field="*{quantity}" class="form-control" type="number" placeholder="Số lượng">
                                </div>
                                <div class="col-md-6">
                                    <label>Category</label>

                                    <select name="categoryByCategory" th:field="*{categoryByCategory}" class="custom-select">
                                        <option th:each="s : ${category}"
                                                th:value="${s.id}"
                                                th:utext="${s.name}"/>
                                    </select>

                                </div>
                                <div class="col-md-6">
                                    <label>Detail</label>
                                    <input name="detail" th:field="*{detail}" class="form-control" type="text" placeholder="Mô tả">
                                </div>
                                <div class="col-md-6">
                                    <label>Status</label>
                                    <li>
                                        <input type="radio" th:field="*{status}" value=1 />
                                        <label>Stocking</label>
                                        <input type="radio" th:field="*{status}" value=0 />
                                        <label>Out Of Stock</label>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <label>Discount</label>
                                    <input name="discount" th:field="*{discount}" class="form-control" type="number" >
                                </div>
                                <div class="col-md-6">
                                    <label>Link image</label>
                                    <input name="imagesfile"  class="form-control" type="file" onchange="loadFile(event)" accept="image/*" >
                                    <input th:field="*{images}" style="display: none">
                                    <div th:each="p: ${product}">
                                        <img id="output" style="padding-bottom: 10px"  th:src="@{'/img/'+${p.images}}" />
                                        <script>
                                            var loadFile = function(event) {
                                                var reader = new FileReader();
                                                reader.onload = function(){
                                                    var output = document.getElementById('output');
                                                    output.src = reader.result;
                                                };
                                                reader.readAsDataURL(event.target.files[0]);
                                            };
                                        </script>
                                    </div>
                                    </div>


                                </div>





                            <button type="submit" class="btn btn-danger" value="add">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

<div th:replace="fragments :: footer"/>
<div th:replace="fragments :: JS"/>




</body>
</html>
